@import "mocha.css";
@import "./option/accent.css";
@import "./mod/background.css";
@import "./mod/rounded.css";

* {
    all: unset;
    font-size: 14px;
    font-family: WorkSans, FontAwesome6Free, SymbolsNerdFont;
    transition: 200ms;
}

trough highlight {
    background: @text;
    border-radius: var(--rounded-xs);
}

scale trough {
    margin: 0rem 0 0 1rem;
    background-color: @surface0;
    min-height: 2px;
    min-width: 70px;
    border-radius: var(--rounded-xs);
}

.floating-notifications.background .notification-row .notification-background {
    box-shadow: inset 0 0 0 1px @surface0;
    margin: 1rem;
    background-color: @background;
    color: @text;
    padding: 0;
    border-radius: var(--window-rounded);
}

.floating-notifications.background .notification-row .notification-background:hover {
    box-shadow: inset 0 0 0 1px @accent;
}

.floating-notifications.background .notification-row .notification-background .notification {
    padding: 1rem;
}

.floating-notifications.background .notification-row .notification-background .close-button {
    margin: 7px;
    padding: 2px;
    border-radius: var(--rounded-s);
    color: @base;
    background-color: @red;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
    background-color: @maroon;
    color: @base;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
    background-color: @red;
    color: @base;
}

.floating-notifications.background .notification-row .notification-background .summary {
    color: @text;
}

.floating-notifications.background .notification-row .notification-background .time {
    color: @subtext0;
    font-size: 1rem;
}

.floating-notifications.background .notification-row .notification-background .body {
    color: @subtext0;
    margin-top: 0.5rem;
}

.control-center {
    box-shadow: inset 0 0 0 1px @surface0;
    margin: 12px;
    background-color: @background;
    color: @text;
    padding: 1rem;
    border-radius: var(--window-rounded);
}

.widget-title {
    padding: 1rem;
    border-top-right-radius: var(--rounded);
    border-top-left-radius: var(--rounded);
    background-color: @background;
}

.control-center .widget-title > label {
    color: @text;
    font-size: 1.618em;
}

.control-center .widget-title button {
    border-radius: var(--rounded);
    color: @text;
    background-color: @surface0;
    padding: 0.5rem 1rem;
}

.control-center .widget-title button:hover {
    box-shadow: inset 0 0 0 1px @accent;
}

.control-center .widget-title > button > label {
    font-size: 1rem;
}

.widget-notifications {
    padding: 0 1rem;
    border-bottom-right-radius: var(--rounded);
    border-bottom-left-radius: var(--rounded);
    background-color: @background;
}

.control-center .notification-row .notification-background {
    border-radius: var(--rounded);
    color: @text;
    box-shadow: inset 0 0 0 1px @surface1;
    background-color: @base;
    margin-top: 1rem;
}

scrolledwindow {
    margin-top: 1rem;
}

.control-center .notification-row .notification-background .notification {
    border-radius: var(--rounded);
    padding: 1rem;
}

.control-center .notification-row .notification-background .notification.critical {
    box-shadow: inset 0 0 7px 0 @red;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
    color: @text;
}

.control-center .notification-row .notification-background .notification .notification-content .time {
    color: @subtext0;
    font-size: 1rem;
}

.control-center .notification-row .notification-background .notification .notification-content .body {
    color: @subtext0;
    margin-top: 0.5rem;
}

.control-center .notification-row .notification-background .close-button {
    margin: 7px;
    padding: 2px;
    border-radius: var(--rounded-s);
    color: @base;
    background-color: @maroon;
}

.close-button {
    border-radius: var(--rounded-s);
}

.control-center .notification-row .notification-background .close-button:hover {
    background-color: @red;
    color: @base;
}

.control-center .notification-row .notification-background .close-button:active {
    background-color: @red;
    color: @base;
}

.control-center .notification-row .notification-background:hover {
    box-shadow: inset 0 0 0 1px @accent;
    color: @text;
}

.notification.critical progress {
    background-color: @red;
}

.notification.low progress,
.notification.normal progress {
    background-color: @blue;
}

.notification-action {
    margin: 1px;
    margin-top: 1rem;
    border-radius: var(--rounded);
    color: @text;
    background-color: @surface0;
    padding: 0.5rem 1rem;
}

.notification-action:hover {
    box-shadow: inset 0 0 0 1px @accent;
}

.notification-action label {
    font-size: 1rem;
}

.notification-group revealer > box {
    margin-top: 1rem;
}

.control-center-dnd {
    border-radius: 8px;
    background: @surface0;
    box-shadow: none;
}

.control-center-dnd:checked {
    background: @accent;
}

.control-center-dnd slider {
    background: @surface1;
    border-radius: 8px;
    margin: 2px;
}

.widget-dnd {
    margin: 0px;
    padding: 0 1rem;
    font-size: 1rem;
    background-color: @background;
}

.widget-dnd > switch {
    font-size: 1rem;
    border-radius: 8px;
    background: @surface0;
    box-shadow: none;
}

.widget-dnd > switch:checked {
    background: @accent;
}

.widget-dnd > switch slider {
    background: @surface1;
    border-radius: 8px;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
    background: @surface0;
}

.widget-buttons-grid {
    padding-top: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
    font-size: 2.5rem;
}

.widget-volume {
    padding: 1rem;
    border: @accent solid 1px;
    border-top-right-radius: var(--rounded);
    border-top-left-radius: var(--rounded);
    border-bottom: none;
}

.widget-volume label {
    font-size: 0.8rem;
    color: @text;
    min-width: 2.5rem;
}

.widget-volume trough highlight {
    background: @text;
}

.widget-backlight {
    padding: 1rem;
    padding-top: 0;
    border: @accent solid 1px;
    border-bottom-right-radius: var(--rounded);
    border-bottom-left-radius: var(--rounded);
    border-top: none;
    margin-bottom: 1rem;
}

.widget-backlight trough highlight {
    background: @text;
}

.widget-backlight label {
    font-size: 1rem;
    color: @text;
    min-width: 2.5rem;
}

.widget-backlight .KB {
    padding-bottom: 1rem;
}

.image {
    margin-right: 1rem;
    min-width: 3.236rem;
    min-height: 3.236rem;
}

.app-icon {
    margin-right: 0.5rem;
    margin-bottom: -0.25rem;
    padding: 3px;
    border-radius: 100%;
}

.widget-buttons-grid {
    margin: 0 0 1rem;
    padding: 0;
}

.widget-buttons-grid flowbox > * {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    background-color: @accent;
    border-radius: var(--rounded);
    color: @mantle;
}

.widget-buttons-grid flowbox > *:last-child {
    margin-right: 0;
}

.widget-buttons-grid flowbox > flowboxchild > button > label {
    font-size: 1rem;
    min-width: 3rem;
}
