@import url("https://catppuccin.github.io/discord/dist/catppuccin-mocha-peach.theme.css");
@import url("https://codeberg.org/ponleou/dotfiles/raw/branch/host/vesktop/mod_mochaLightAccent.css");
@import url("https://codeberg.org/ponleou/dotfiles/raw/branch/host/vesktop/mod_mochaTransparentBg.css");
