@import url("https://catppuccin.github.io/discord/dist/catppuccin-mocha-rosewater.theme.css");
@import url("https://raw.githubusercontent.com/ponleou/dotfiles/refs/heads/host/vesktop/mod_mochaLightAccent.css");
@import url("https://raw.githubusercontent.com/ponleou/dotfiles/refs/heads/host/vesktop/mod_mochaTransparentBg.css");
